.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
build/
.DS_Store
*.pt
*.pth
*.npz
*.npy
*.csv
runs/
checkpoints/
outputs/
faiss_index/
data/
model/
statistics/
.env
node_modules/
*/frontend/dist/
*.jpg
*.png
