venv/
.venv/
env/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
build/
.DS_Store
*.pt
*.pth
*.npz
*.npy
*.csv
runs/
checkpoints/
outputs/
faiss_index/
/data/
/model/
/statistics/
.env
node_modules/
*/frontend/dist/
*.jpg
*.png
*.db
badData/*
oldDataPreMar04/*
kmeans_output/
normalize_output/
src/vessel_reid/api/dryrun_excluded_vessels/*
src/vessel_reid/api/dryrun_deleted_images/*
src/vessel_reid/api/dryrun_filtered_images/*
